//
// fonts scss
//
@font-face {
    font-family: "Segeo UI";
    src: url('../fonts/segeo-ui/segeo-ui-regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Segeo UI";
    src: url('../fonts/segeo-ui/segeo-ui-semi-bold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Segeo UI";
    src: url('../fonts/segeo-ui/segeo-ui-bold.ttf');
    font-style: normal;
    font-weight: 700;
}

