//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and Dashmix functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

@import "./component/fonts";
.text-decorate{
    text-decoration: none;
}

header{
    width: 100%;
    .first-nav{
        background-color:  #000000;
        a{
            position: relative;
        }
        a:hover{
            color: #CBE500;
        }
        .nav-tag::after{
            right: -1px;
            bottom:12px;
            position: absolute;
            background-color: #C4C4C4;
            color: #C4C4C4;
            content: "";
            width: 2px;
            height: 12px;
    }
    .a-no::after{
        height: 0px;
    
    }
    .nav-link{
        font-family: 'Segoe UI';
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
       
}
    }
    .second-nav{
        background-color: #fff;
        .nav-link{
             font-family: 'Segoe UI', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #000000 !important;
        }
        .nav-link:hover{
            color: #CBE500 !important;
        }
        .book-now{
            border-radius: 3px;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #000000;

        }
        .book-now:focus, .book-now:hover {
            color: #fff;
            
          }
    }
   
   
}

main{
    margin-top: 95px;

    .banner{
        background-position:center;
        background-repeat: no-repeat;
        background-size:cover;
        padding-bottom: 196px;
        max-height: 600px;
        .title{
            font-family: 'Segoe UI', sans-serif;
            padding-top: 33px;
            color: #fff;
            font-weight: 700;
            font-size: 36px;

        }
        .description{
            font-family: 'Segoe UI', sans-serif;
            font-weight: 400;
            font-size: 24px;
            color: #fff;
        }

        .tab-control{
            width: 100%;
            max-width:402px;
            border-radius: 5px;
            margin-top: 48px;




            .nav-link{
                font-family: 'Segoe UI', sans-serif;
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                color: #000000;
                border-radius: 11px;
            }
            .title{
                h1{
                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    color: #000000;
                }
                p{
                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: #000000;
                }
            }
        
        .input-group-text {
          font-family: 'Segoe UI', sans-serif;
          width: 80px;
          color: rgba(0, 0, 0, 0.5);         
          white-space: nowrap;
          background: #C4C4C4;
          border-radius: 3px 0px 0px 3px;
          font-weight: 400;
          font-size: 12px;
          border: 0px;

        }
        .form-control{
            background: #E2E2E2;
            border-radius: 3px;
            border: 0px;
        }
        .form-select{
            font-family: 'Segoe UI', sans-serif;
            background: #E2E2E2;
            border-radius: 3px;
            font-weight: 400;
            font-size: 14px;
            color: black;
            border: 0px;
            background-image: url('../image/akar-icons_chevron-down.svg');
            background-repeat: no-repeat;
            background-position: 95%;
        }
        

        .form-control::placeholder {
            font-family: 'Segoe UI', sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: black;
          }
        .book-now:focus, .book-now:hover {
            color: #fff;
            
          }
        }
      
    }

  

    

      .share-pass-carousel{
           .carousel{
          margin-top: -35.5px;
          margin-right: 30px;
          margin-left: 30px;

          .carousel__item{
            background-color: $white;

            p{
              font-family: 'Segoe UI', sans-serif;
              font-weight: 400;
                font-size: 15px;
            }
            a{
              font-family: 'Segoe UI', sans-serif;
              font-weight: 400;
                font-size: 15px;
            }
        }

      } 

      .carousel__prev {
        background-color: #F2F2F2;
        color: #C4C4C4;
        margin-left: -13.5px;
        width: 20px;
        height: 20px;
        border: 1px solid #C4C4C4;

      }

      .carousel__next {
        background-color: #F2F2F2;
        color: #C4C4C4;
        margin-right: -13.5px;
        width: 20px;
        height: 20px;
        border: 1px solid #C4C4C4;
      }
      }
    
    
      .card{
        border-radius: 5px 5px 0px 0px;
        filter: drop-shadow(3px 6px 6px rgba(0, 0, 0, 0.15));

        .card-image{
            background-position:center;
            background-repeat: no-repeat;
            background-size:cover;
            height: 200px;
            border-radius: 5px 5px 0px 0px;

          }
          .card-title{
            font-family: 'Segoe UI', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #000000;
            text-transform: uppercase;

          }

          .card-text{
            font-family: 'Segoe UI', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
          }
          .icon-title{
            font-family: 'Segoe UI', sans-serif;
            font-weight: 400;
            font-size: 14px;            
            color: #000000;
          }

          
        .delete{
            font-family: 'Segoe UI', sans-serif;
            background-color: #dc3545;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 700;
            border: 0;
            color: #FFFFFF;
        }
       

       

      }
      .category{
       
          
        .nav-link{
          font-family: 'Segoe UI', sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: black;
          text-transform:capitalize;
        }
        .nav-link:hover{
          color: $primary;
        }
        .active{
          color: $primary;
          }
         
      }
      .add-product:hover{
        color: $primary;
      }
      .gallery{
        .title{
            font-family: 'Segoe UI', sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: $black;
        }
        .title:hover{
          color: $primary;
        }
        .description{
            font-family: 'Segoe UI', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $black;

        }
      }

      .fleet-carousel{
        .carousel{
            margin-top: -70.5px;
            margin-right: 30px;
            margin-left: 30px;
            background-color: transparent;
  

       .carousel__item{
         background-color: transparent;
         p{
            font-family: 'Segoe UI', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #000000;
         }

         .active{
             background-color: $primary;
         }
         .rounded-circle:hover{
           
          background-color: $primary;
         }
         .carousel__slide--active > .carousel__item {
            background-color: $primary;
        }
      
     }

   } 

   .carousel__prev {
    background-color: $white;
    color: #C4C4C4;
     margin-left: -13.5px;
     width: 20px;
     height: 20px;
     border: 1px solid #C4C4C4;

   }

   .carousel__next {
     background-color: $white;
     color: #C4C4C4;
     margin-right: -13.5px;
     width: 20px;
     height: 20px;
     border: 1px solid #C4C4C4;
   }
   }
 

   .fleet-details{
    background: #F8F8F8;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    background-attachment: fixed;
       
    .carousel__prev {
        background-color: $white;
        color: #C4C4C4;
         margin-left: -13.5px;
         width: 40px;
         height: 40px;
         border: 2px solid #C4C4C4;
    
       }
    
       .carousel__next {
         background-color: $white;
         color: #C4C4C4;
         margin-right: -13.5px;
         width: 40px;
         height: 40px;
         border: 2px solid #C4C4C4;

       }
       .carousel {
        text-align: start;
      }
      .title{
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        color: #000000;
      }
      .description-1{
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
      }
      .description{
        font-family: 'Segoe UI', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
      }

   
      
      .logos {
        width: 36px;
        height: 36px;
        padding: 5px;
        border-radius: 50%;
        align-items: center;
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .logos:hover {
        background: #CDDC39;
      }
      .img-button{
      width: 133.2px;
      height: 48px;
      border-radius: 8px;
      }
     .slide-width{
        width: 100%;
     }
     .carousel-image{
       max-width: 561px;
     }
}
.about{
  background: #FFFFFF;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
  }
    
}
.ola-app{
  .ola-location{
    max-width:400px;
  }
  p{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}

footer{
    color: #fff;
    padding: 20px 0;
    background: #393939;
    letter-spacing: 0.3px;

.br-b{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.title{
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.links{
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.links:hover{
  color: $primary;
}
select{
  max-width: 300px;
}
.nav-link{
  font-size: 14px;
color: rgba(255, 255, 255, 0.9);
}
.icon-hover:hover{
  opacity: 0.4;
}
}
