//
// Custom Variables
//
// Here you can add your own variables overrides
//
// The file is included before any other variable file,
// so you can override them because they all use !default
// --------------------------------------------------

// For example, changing the primary color
$primary: #CBE500;
$secondary: #6E7581;
$success: #49C555;
$lightblue:#337AB7;
$lightsecondary: #F2F2F2; 
$danger: red;
